* {
  box-sizing: border-box;
  font-family: sans-serif;
  --text-color: rgba(0, 0, 0, 0.7);
  --gray: rgb(221, 221, 221);
  --green: rgba(99, 219, 99, 0.75);
  --dark-bg: rgb(18, 18, 18);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow-y: scroll;
}

body.darkMode {
  background-color: var(--dark-bg);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
}

nav h1 {
  margin: 0;
  font-family: monospace;
  font-size: 4rem;
}

.darkMode nav {
  color: white;
}

.guess-input {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.4rem;
}

.guess-input input {
  border-radius: inherit;
  border: 1px solid gray;
  width: 100%;
  min-width: 2.5rem;
  background: transparent;
  font-size: 1.2rem;
}

.guess-input input:disabled {
  background: var(--gray);
  opacity: 0.7;
}

.darkMode .guess-input input {
  color: white;
}

.guess-input button {
  border: none;
  border-radius: inherit;
  padding: 0.6rem;
  background: var(--gray);
  cursor: pointer;
  color: var(--text-color);
}

.guess-input button:hover {
  background-color: var(--green);
}

.guess-input button:active {
  background-color: color-mix(in srgb, var(--green) 93%, black);
  translate: 1px 1px;
}

.attempts {
  text-align: center;
  color: var(--text-color);
}

.darkMode .attempts {
  color: white;
}

.close-button {
  border-radius: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0.2rem;
  display: flex;
}

.darkMode .close-button {
  color: white;
}

.close-button:hover {
  background: rgba(128, 128, 128, 0.097);
}

.darkMode .close-button:hover {
  background-color: rgba(255, 255, 255, 0.269);
}
